.logo {
    position: relative;
    font-family: 'Rubik Lines';
    font-size: 4rem;
    color: var(--light-graphite);
    cursor: pointer;

    .logo_overlay {
        position: absolute;
        top: 5px;
        left: 10%;
        font-family: 'Alex Brush';
        font-size: 3rem;
        color: var(--main-blue);
    }
}
